
store-app/Common/ViewModel/.DS_Store
store-app.xcodeproj/project.xcworkspace/xcuserdata/rajnish.xcuserdatad/UserInterfaceState.xcuserstate
store-app.xcodeproj/project.xcworkspace/xcuserdata/rajnish.xcuserdatad/UserInterfaceState.xcuserstate
store-app.xcodeproj/project.xcworkspace/xcuserdata/rajnish.xcuserdatad/UserInterfaceState.xcuserstate
store-app.xcodeproj/xcuserdata/rajnish.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
store-app.xcodeproj/project.xcworkspace/xcuserdata/rajnish.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
